# Project exclude paths
/code/target/
/__MACOSX/codehot/src/code/violence/recurrence/._.DS_Store
/__MACOSX/codehot/src/code/violence/._.DS_Store
/__MACOSX/codehot/src/code/hot/._c
/.idea/.gitignore
/Note/.idea/.gitignore
/.idea/.name
/.idea/codeStyles/codeStyleConfig.xml
/Note/.idea/codeStyles/codeStyleConfig.xml
/.idea/compiler.xml
/Note/.idea/compiler.xml
/.idea/leetcode/editor.xml
/.idea/encodings.xml
/Note/.idea/encodings.xml
/.idea/jarRepositories.xml
/.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
/.idea/libraries/Maven__com_mchange_c3p0_0_9_5_2.xml
/.idea/libraries/Maven__com_mchange_mchange_commons_java_0_2_11.xml
/.idea/libraries/Maven__commons_logging_commons_logging_1_1_3.xml
/.idea/libraries/Maven__junit_junit_4_12.xml
/.idea/libraries/Maven__mysql_mysql_connector_java_5_1_39.xml
/.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
/.idea/libraries/Maven__org_mybatis_mybatis_3_5_3.xml
/.idea/libraries/Maven__org_mybatis_mybatis_spring_2_0_5.xml
/.idea/libraries/Maven__org_projectlombok_lombok_1_16_16.xml
/.idea/libraries/Maven__org_scala_lang_scala_library_2_11_8.xml
/.idea/libraries/Maven__org_springframework_spring_aop_3_2_16_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_beans_3_2_16_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_context_3_2_16_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_core_3_2_16_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_expression_3_2_16_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_jdbc_3_2_16_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_test_3_2_16_RELEASE.xml
/.idea/libraries/Maven__org_springframework_spring_tx_3_2_16_RELEASE.xml
/.idea/misc.xml
/Note/.idea/misc.xml
/.idea/modules.xml
/Note/.idea/modules.xml
/.idea/codeStyles/Project.xml
/Note/.idea/codeStyles/Project.xml
/.idea/scala_compiler.xml
/.idea/uiDesigner.xml
/Note/.idea/uiDesigner.xml
/.idea/vcs.xml
